name: STAGING - Build and Deploy

on: workflow_dispatch

env:
  # Set global action env variables for STAGING:
  IMAGE_TAG: paf-gateway-staging
  KUBE_NAMESPACE: staging
  SERVER_PORT: 80

jobs:
  build-and-push:
    name: Build, Security Scanning & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    environment:
      name: staging
      url: https://gateway.staging.pa-f.net
    outputs:
      image: ${{ steps.build.outputs.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push container image to GitHub Container Registry
        id: build
        run: |
          IMAGE="ghcr.io/paf-it/${{ env.IMAGE_TAG }}:${{ github.sha }}"
          echo "image=$IMAGE" >> "$GITHUB_OUTPUT"
          docker build --build-arg SERVER_PORT=${{ env.SERVER_PORT }} . --tag ${{ env.IMAGE_TAG }}
          docker tag ${{ env.IMAGE_TAG }} $IMAGE
          docker push $IMAGE

  # deploy-staging:
  #   name: Deploy to STAGING
  #   needs: build-and-push
  #   runs-on: ubuntu-latest
  #   environment:
  #     name: staging
  #     url: https://gateway.staging.pa-f.net
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Set kubectl Context
  #       uses: azure/k8s-set-context@v4
  #       with:
  #         method: kubeconfig
  #         kubeconfig: ${{ secrets.UPCLOUD_KUBECONFIG }}
  #         context: ${{ env.KUBE_NAMESPACE }}

  #     - name: Deploy to Kubernetes
  #       uses: swdotcom/update-and-apply-kubernetes-configs@v1
  #       with:
  #         k8-config-file-paths: |
  #           k8s/app-configmap.yaml
  #           k8s/app-service.yaml
  #           k8s/app-deployment.yaml
  #         replacement-method: defined
  #         namespace: ${{ env.KUBE_NAMESPACE }}
  #       env:
  #         IMAGE: ${{ needs.build-and-push.outputs.image }}
  #         SERVER_PORT: ${{ env.SERVER_PORT }}
